pkgbase = python-pyhamcrest
	pkgdesc = A framework for writing matcher objects, allowing you to declaratively define "match" rules
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/hamcrest/PyHamcrest
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python>=3.5
	source = https://pypi.python.org/packages/source/P/PyHamcrest/PyHamcrest-2.0.2.tar.gz
	sha256sums = 412e00137858f04bde0729913874a48485665f2d36fe9ee449f26be864af9316

pkgname = python-pyhamcrest

